DirectoryIndex index.html

RewriteEngine On
RewriteBase /

RewriteRule ^\.well-known/.+ - [END]

RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteRule ^Contacts$ https://www.bobhamor.com [R=302]
RewriteRule ^Gallery$ https://www.bobhamor.com [R=302]
