DirectoryIndex index.html

RewriteEngine On
RewriteRule ^\.well-known/.+ - [END]

RewriteCond %{HTTP_HOST} ^www\.
RewriteRule ^(.*)$ http://bobhamor.com/$1 [R=301,L]

RewriteRule ^Contacts(.*) https://bobhamor.com/ [R=302]
RewriteRule ^Gallery(.*) https://bobhamor.com/ [R=302]
